@model IEnumerable<FoodNStuff.MVC.Models.Transaction>
@{
    ViewBag.Title = "Index";
}

<h2>Transactions</h2>

<p>
    @Html.ActionLink("Record new Transaction", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Price)
        </th>
        <th>
            @Html.ActionLink("Back to List", "Index")
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Product.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TransactionID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TransactionID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TransactionID })
            </td>
        </tr>
    }
</table>
